body{
    text-align: right;
    border: 10px;
    background-color: black;
    background: url(https://media3.giphy.com/media/26tOZ42Mg6pbTUPHW/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    background-color: rgba(218, 165, 32, 0.359);
}
#btn1{
    background-color: red;
    font-size: xx-large;
    font-weight: bolder;
    color: gold;
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 5px;
    border-style: ridge;
    border-color: silver;
    box-shadow: 5px;
    border-radius: 10px;
    padding: 50px;
}
#btn1:hover{
    cursor: pointer;
    color: white;
    border-color: gold;
}
#d1{
    visibility: hidden;
}